# Contenidos de esta clase

* Aprenderemos a montar una base de datos SQL liviana utilizando SQLite.
* Veremos cómo consultar la base de datos SQL desde Python.
* Comprenderemos, de manera aplicada, cómo se integra SQL con Python.

## SQL en Python

* Viene con SQLite para Python instalado (sqlite3), por lo que solo debemos importar.

In [ ]:
# Importar librerías necesarias
import sqlite3            # Para manejar la base de datos SQLite
import pandas as pd       # Para manipulación de datos en formato tabular

In [ ]:
# Crear una base de datos en memoria (temporal, se elimina al cerrar la sesión)
conn = sqlite3.connect(":memory:")

# Crear un cursor para ejecutar comandos SQL
cursor = conn.cursor()

In [3]:
# Crear una tabla llamada "empleados" con columnas: id, nombre, edad, salario
cursor.execute(
    '''CREATE TABLE empleados (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    edad INTEGER,
    salario REAL)'''
    )

In [4]:
# Crear una lista con los datos de empleados (id, nombre, edad, salario)
empleados = [
    (1, 'Ana', 28, 45000),
    (2, 'Luis', 35, 52000),
    (3, 'Sofía', 40, 60000)
]

In [6]:
# Insertar los datos en la tabla usando una consulta parametrizada
cursor.executemany("INSERT INTO empleados VALUES (?, ?, ?, ?)", empleados)

# Guardar los cambios realizados en la base de datos
conn.commit()

In [10]:
# Consultar todos los empleados con salario mayor a 50000 usando SQL
consulta = pd.read_sql_query("SELECT edad,salario FROM empleados WHERE salario > 50000", conn)

# Mostrar el resultado como un DataFrame
print(consulta)

   edad  salario
0    35  52000.0
1    40  60000.0

# Conclusiones

* Python tiene todo resuelto para trabajar con bases de datos SQL.
* Es importante saber SQL para trabajar directamente con bases de datos.
* Este ejemplo es muy cercano a la realidad, solo que comúnmente se deben indicar credenciales de acceso SQL.